ENV=STAGING

# True for development, False for production
DEBUG=True

# Deployment SERVER address
SERVER=data-dashboard.mangkujagat.com

# Used for CDN (in production)
# No Slash at the end
ASSETS_ROOT=/static/assets

# DB Data Dashboard
DB_DASHBOARD_ENGINE=postgres
DB_DASHBOARD_NAME=
DB_DASHBOARD_HOST=
DB_DASHBOARD_PORT=
DB_DASHBOARD_USERNAME=
DB_DASHBOARD_PASS=

# DB Datalake
DB_POSTGRE_ENGINE=postgresql
DB_POSTGRE_NAME=
DB_POSTGRE_HOST=
DB_POSTGRE_PORT=
DB_POSTGRE_USERNAME=
DB_POSTGRE_PASS=

# DB Klopos
DB_KLOPOS_ENGINE=mysql
DB_KLOPOS_NAME=
DB_KLOPOS_HOST=
DB_KLOPOS_PORT=
DB_KLOPOS_USERNAME=
DB_KLOPOS_PASS=

# Database Airflow
DB_AIRFLOW_ENGINE=postgresql
DB_AIRFLOW_NAME=
DB_AIRFLOW_HOST=
DB_AIRFLOW_PORT=
DB_AIRFLOW_USERNAME=
DB_AIRFLOW_PASS=

# AIRFFLOW
AIRFLOW_ENDPOINT=
AIRFLOW_USERNAME=
AIRFLOW_PASSWORD=

# NIFI
NIFI_ENDPOINT=
NIFI_USERNAME=
NIFI_PASSWORD=

# KAFKA
KAFKA_ENDPOINT=

# ETL
ETL_ENDPOINT_AKUNTING=
ETL_ENDPOINT=

# Validity
VALIDITY_ENDPOINT=

# Cockpit
COCKPIT_ENDPOINT=
COCKPIT_USERNAME=
COCKPIT_PASSWORD=