<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{{ ASSETS_ROOT }}/favicon.ico" type="image/x-icon">

  <title>
    DE Dashboard - {% block title %}{% endblock %} | Majoo
  </title> 

  {% block stylesheets %}{% endblock stylesheets %}

</head>
<body class="hold-transition {% block body_class %}{% endblock body_class %} sidebar-collapse">

<div class="wrapper fixed">

    {% include 'includes/navigation.html' %}

    {% include 'includes/sidebar.html' %}

    {% block content %}{% endblock content %}

    {% include 'includes/footer.html' %}

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->

</div>
<!-- ./wrapper -->

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

</body>
</html>
